html {
    background-color: skyblue;
    body {
        margin: auto;
    }
}

.contents{
    text-align: center;
}

.comments_text{
    background-color: antiquewhite;
}

.tweet_content{
    background-color: aliceblue;
}

.header {
    background-color: white;
}

.footer {
    background-color: antiquewhite;
    position: fixed;
    width: 100%;
    bottom: 0;
}
